model IEnumerable<SafeEats.Models.Recipe>

    @{

        Layout = "~/Views/Shared/_SafeEatsLayout.cshtml";
    }

@{
    ViewBag.Title = "Spin";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@


<div class="spin-wrapper">
    <div id="list-modal" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("CreateRecipe", "Spin", FormMethod.Post, new { id = "list-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("recipeid", ViewBag.CurrentRecipeId as object)
                        <div class="modal-header">Add New Recipe to your list</div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="inputRecipeName">Recipe Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="inputRecipeName" placeholder="Recipe" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="inputDescription">Brief Description</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="inputDescription" placeholder="Description" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" /> Vegetarian
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" /> Gluten Free
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                         </div>                       
                        <div class="modal-footer"><input class="btn" type="submit" value="Next" /></div>
               <!--a href="javascript:document.getElementById('logoutForm').submit()">Log off</a-->
                                     }
            </div>
         </div>
     </div>
     <button class="btn btn-info" data-toggle="modal" data-target="#list-modal">Create</button>
</div>


<div class="container-fluid">
    <div class="row">
        <button>Spin!</button>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>ingredient 1</h3>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h3>ingredient 2</h3>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h3>ingredient 3</h3>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                </ul>
            </div>
        </div>

    </div>

    
</div>
    
