model IEnumerable<SafeEats.Models.Recipe>
    @{
        Layout = "~/Views/Shared/_SafeEatsLayout.cshtml";
    }
@{
    ViewBag.Title = "Profile";
}
<h2>@ViewBag.Title</h2>
    <body ng-app="SafeEats">
        <div ng-controller="profile">
            <h1>hi</h1>
        
                   
        </div>
    </body>
    
