@Html.Partial("_NavPartial")
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to SafeEats!</h1>
    <p class="lead">SafeEats is the BEST way to help decide whats for dinner tonight. All while keeping a pregnant safe diet.</p>
    
</div>

<div class="row">
    <div class="col-md-4" id="MainBodyColHome1">
        <h2>Getting Started</h2>
        <p>
            SafeEats helps narrow down recipes based on what she feels like eating. Got a crazy craving for a meal including Asian Pears??? We got you covered.
        </p>
    </div>
    <div class="col-md-4" id="MainBodyColHome2">
        <h2>Getting Inspired</h2>
        <p>Dont have any idea as to what you want to eat? Let our scientifically proven "Tasty Goodness" algorithms help you decide.</p>        
    </div>
    <div class="col-md-4" id="MainBodyColHome3">
        <h2>Getting Healthy</h2>
        <p>Maintain a balanced approach to your food so that your baby comes out super healthy and with borderline hulk strength.</p>
    </div>
</div>

@Html.Partial("_FooterPartial")