@{
    ViewBag.Title = "Profile";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>UserName</h1>
<h2>Your recipes</h2>
<ul>
    <li>recipe</li>
    <li>recipe</li>
    <li>recipe</li>
    <li>recipe</li>
    <li>recipe</li>
</ul>